* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  scroll-padding-top: 75px;
  overscroll-behavior: none;
  height: 100%;
  background-color: #f4f4f4;
}

p {
  font-size: 16px;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-weight: 300;
}

h2 {
  font-size: 30px;
  padding-bottom: 30px;
  font-weight: 300;
}

h3 {
  padding-bottom: 30px;
  font-weight: 300;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
}

li {
  font-weight: 300;
  font-family: "Raleway", sans-serif;
  padding: 10px;
  padding-left: 0;
}

i {
  font-weight: 300;
  font-family: "Raleway", sans-serif;
}

.italic {
  font-style: italic;
}

nav {
  padding-top: 26px;
  width: 55%;
  /* margin-left: 30%; */
  display: flex;
  justify-content: space-around;
  /* text-align: left; */
  margin-left: 17%;
}

a:visited {
  color: black;
}

.menupoint {
  position: relative;
  padding-right: 0;
  padding-left: 0;
  font-family: "Playfair Display", serif;

  max-height: 32px;
}

.menupoint:hover {
  border-bottom: 1px solid #c8423c;
}

header {
  position: fixed;
  height: 75px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  transition: 0.3s;
  background-color: white;
}

.site-header {
  position: fixed;
  height: 50px;
  top: 0;
  width: 100%;
  z-index: 100;
  transition: all 0.3s ease;
  box-shadow: 0 1px 25px rgba(0, 0, 0, 0.1);
}
.hide {
  top: -70px;
}

#logo {
  height: 40px;
  width: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 30px;
  margin-bottom: 10px;
  position: relative;
  margin-left: 5.5%;
  transition: 0.3s;
  background-image: url("img/responsive-black.svg");
}

.section-1 {
  background-color: #26424f;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(70vh - 75px);
  width: 100vw;
  scroll-snap-align: start;
}
section {
  min-height: 100vh;
}
.home-section1 {
  background-image: url("img/logo-header-new.png");
  background-position: 35%;
}
.entry-content-txt {
  position: absolute;
  top: 25%;
  margin-left: 5.3%;
  max-width: 650px;
  color: white;
}
.entry-content-txt h2 {
  font-size: 45px;
  font-weight: 300;
  padding-bottom: 30px;
}

/* SECTIONS */

.section-2 {
  background-color: #f4f4f4;
  height: calc(100% - 75px);
  width: 100vw;
  scroll-snap-align: start;
  padding-bottom: 10%;
}

.section-3 {
  background-color: #f4f4f4;
  height: calc(100% - 75px);
  width: 100vw;
  scroll-snap-align: start;
}
.section-4 {
  background-color: #f4f4f4;
  height: calc(100% - 75px);
  width: 100vw;
  scroll-snap-align: start;
  padding-bottom: 15%;
}

.section-5 {
  background-color: #f4f4f4;
  height: calc(100% - 75px);
  width: 100vw;
  scroll-snap-align: start;
  display: flex;
  padding-bottom: 15%;
}

.section-6 {
  background-color: #f4f4f4;
  height: calc(100% - 75px);

  min-height: 90vh;
  width: 100vw;
  scroll-snap-align: start;
  padding-bottom: 10%;
}

.section-7 {
  background-color: #f4f4f4;
  height: calc(100% - 75px);
  width: 100vw;
  scroll-snap-align: start;
  padding-bottom: 10%;
}
.entry-hr {
  margin-top: 30px;
  max-width: 100px;
  border: none;
  height: 1px;
  background-color: #c8423c;
}

.sec-2-txt {
  position: relative;
  top: 15%;
  margin-left: 11%;
  margin-right: 39%;
}
.sec-3-txt {
  position: relative;
  top: 10%;
  margin-left: 11%;
  margin-right: 20%;
}
.logo-ex {
  height: 80px;
  width: 250px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  position: relative;
  top: 18%;
}

.logo-1 {
  background-image: url("img/logo-original.png");
}

.logo-2 {
  background-image: url("img/grey-logo.png");
}

.logo-3 {
  background-image: url("img/blue-logo.png");
}

.logo-examples {
  position: relative;
  margin-left: 11%;
}

.sec-2-bottom {
  display: flex;
  position: relative;
  top: 12%;
}

.download-con {
  margin-top: 12%;
  margin-left: 3%;
}

.download-ikon {
  margin-top: 5%;
  margin-left: 6%;
}

.download-con h3 {
  padding-bottom: 0;
}

.download-ikon h3 {
  padding-bottom: 0;
}

.download-con .entry-hr {
  margin-top: 15px;
  margin-bottom: 15px;
}
.download-ikon .entry-hr {
  margin-top: 15px;
  margin-bottom: 15px;
}
.download-a {
  display: flex;
  justify-content: space-between;
  width: 110%;
  padding: 8px;
  padding-left: 0;
}

.logo-packages {
  display: flex;
  flex-direction: column;
}

.sec-2-con {
  display: flex;
  width: 100%;
}

.sec-2-col1 {
  width: 55%;
}

.sec-2-col2 {
  width: 45%;
}

.logo-ul {
  margin-right: 15%;
}

.logo-ul {
  margin-left: 3%;
}

.col2-con {
  position: relative;
  top: 34%;
}

.scroll-p {
  font-style: italic;
  padding-top: 7%;
}

.li-pic {
  width: 100vw;
  min-height: 100vh;
  background-size: contain;
  background-image: url("img/examples.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 5%;
}

.ikon-examples {
  background-image: url(img/ikons.png);
  height: 300px;
  width: 315px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 10%;
  margin-left: 11%;
}

.thepalet svg {
  width: 100%;
  position: relative;
  cursor: pointer;
}

.the-palet {
  display: flex;
  justify-content: start;
}

.sec-5-txt {
  position: relative;
  margin-left: 11%;
  margin-right: 6%;
}

.sec-6-txt {
  position: relative;
  margin-left: 5.5%;
  margin-right: 0%;
  top: 10%;
}
.sec-7-txt {
  position: relative;
  margin-left: 5.5%;
  margin-right: 58%;
  top: 10%;
}
.palet-wrapper {
  position: relative;
  margin-top: 5%;
}

.sec-5-col1 {
  width: 50%;
  position: relative;
  top: 7%;
}

.sec-5-col2 {
  width: 50%;
  position: relative;
  top: 14%;
  padding-left: 10%;
}

.ikon-col2-con {
  position: relative;
  top: 46%;
  padding-left: 6%;
}

.color-bottom {
  display: flex;
  width: 100%;
  position: relative;
  margin-left: 11%;
}

.click-color {
  width: 26%;
}

.click-here {
  position: relative;
  top: 15%;
  left: 20%;
  color: #c8423c;
}

.values {
  position: relative;
  top: 21%;
  left: 20%;
}

/* KEYFRAMES */

/* .click-here {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  animation-iteration-count: infinite;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(1px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-3px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(3px, 0, 0);
  }
} */

.color-txt-bottom {
  padding-top: 1.3%;
}

.prime {
  height: 66px;
  width: 69px;
  border-radius: 50%;
  background-color: white;
  margin-right: 15px;
}

.prime-colors {
  display: flex;
  padding-top: 15px;
  padding-bottom: 30px;
}

.prime-1 {
  background-color: #26424f;
}

.prime-1 {
  background-color: #26424f;
}

.prime-2 {
  background-color: #2b4546;
}

.secondary-1 {
  background-color: #2f5160;
}

.secondary-2 {
  background-color: #3d6274;
}

.secondary-3 {
  background-color: #467186;
}

.secondary-4 {
  background-color: #53839b;
}

.secondary-5 {
  background-color: #375759;
}

.secondary-6 {
  background-color: #3f6669;
}

.secondary-7 {
  background-color: #4b7274;
}

.secondary-8 {
  background-color: #668989;
}

.secondary-9 {
  background-color: #b7babb;
}

.secondary-10 {
  background-color: #c7cacb;
}

.secondary-11 {
  background-color: #d9ddde;
}

.secondary-12 {
  background-color: #e5e9ea;
}

.secondary {
  height: 50px;
  width: 51.5px;
  border-radius: 50%;
}

.secondary-colors {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 45%;
  padding-top: 15px;
  padding-bottom: 30px;
  grid-gap: 15px;
}

.contrast {
  background-color: #c8423c;
}

.white {
  background-color: #f4f4f4;
  border: 1px solid black;
}

.black {
  background-color: #373839;
}

.last-color {
  height: 50px;
  width: 51.5px;
  border-radius: 50%;
  margin-right: 15px;
}

.last-color-con {
  display: flex;
}

.last-color-con p {
  text-align: center;
  margin-right: 15px;
  padding-bottom: 15px;
}

.overskrifter,
.brodtekst {
  padding-top: 5%;
}

.brodtekst p {
  font-size: 18px;
  padding-bottom: 13px;
}

.overskrifter {
  margin-right: 12%;
}

.overskrifter h3 {
  padding-bottom: 13px;
}

.typo-con {
  width: 50%;
  position: relative;
  top: -20vh;

  display: flex;
}

.grafik-pics {
  display: flex;
  flex-direction: row-reverse;
  margin-left: 5.5%;
  margin-top: 3%;
}

.grafik-1 {
  height: 40vh;
  width: 100%;
  margin-left: 6%;
  background-image: url("img/streg.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.flex-typo {
  display: flex;
}

.typo-con {
  width: 50%;
}

.typo-ex {
  width: 48%;
  top: 6vh;
  padding-right: 10%;
  position: relative;
}

.typo-entry {
  width: 50%;
  padding-right: 14%;
}
.grafik-2 {
  height: 40vh;
  width: 100%;
  background-image: url("img/r.png");
  background-size: contain;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1145px) {
  nav {
    padding-top: 34px;
    margin-left: 30%;
    margin-right: 5%;
  }
  .ikon-col2-con {
    position: relative;
    top: 18%;
    padding-left: 5.5%;
    padding-right: 10%;
  }

  .grafik-1 {
    height: 33vh;
    width: 100%;
    margin-left: 6%;
    background-image: url(img/streg.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .grafik-pics {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 5.5%;
    margin-top: 5%;
  }

  .sec-7-txt {
    position: relative;
    margin-left: 5.5%;
    margin-right: 51%;
    top: 10%;
  }
  .typo-ex {
    width: 48%;
    top: 7vh;
    padding-right: 0;
    position: relative;
  }

  .typo-entry {
    width: 100%;
    padding-right: 60%;
  }

  .section-6 {
    padding-bottom: 20%;
  }

  .col2-con {
    position: relative;
    top: 18%;
  }

  .sec-6-txt {
    position: relative;
    margin-left: 5.5%;
    margin-right: 0;
    top: 10%;
  }

  .sec-3-txt {
    position: relative;
    top: 10%;
    margin-left: 11%;
    margin-right: 12%;
  }

  .sec-5-col2 {
    width: 50%;
    position: relative;
    margin-top: 4%;
    padding-left: 15%;
  }

  .sec-5-txt {
    position: relative;
    margin-left: 11%;
    margin-right: 0%;
  }
}

@media only screen and (max-width: 975px) {
  .sec-2-txt {
    position: relative;
    padding-top: 15%;
    margin-left: 11%;
    margin-right: 0%;
  }

  .overskrifter {
    margin-right: 8%;
  }

  .typo-con {
    width: 50%;
    margin-left: 8%;
  }

  .section-5 {
    flex-direction: column;
  }

  .sec-5-col1 {
    width: 100%;
    position: relative;
    padding-right: 20%;
  }

  .sec-5-txt {
    position: relative;
    margin-left: 7.5%;
    margin-right: 0%;
  }

  .color-bottom {
    display: flex;
    width: 100%;
    position: relative;
    margin-left: 7.5%;
  }

  .secondary-colors {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    width: 45%;
    padding-top: 15px;
    padding-bottom: 30px;
    grid-gap: 15px;
  }
  .sec-5-col2 {
    width: 50%;
    position: relative;
    margin-top: 4%;
    padding-left: 6.5%;
  }

  .sec-6-txt {
    position: relative;
    margin-left: 6%;
  }
  .sec-2-txt {
    position: relative;
    padding-top: 15%;
    margin-left: 11%;
    margin-right: 0%;
  }

  .col2-con {
    position: relative;
    margin-top: 10%;
    margin-left: 14%;
  }

  .col2-con {
    position: relative;
    top: 18%;
    margin-left: 7%;
    padding-right: 36%;
  }

  .download-con {
    margin-top: 12%;
    margin-left: 16%;
  }

  #section4 > div > div.sec-2-col2 > div > h2 {
    font-size: 25px;
  }
}

@media only screen and (max-width: 920px) {
  .sec-2-con {
    flex-direction: column;
  }

  nav {
    padding-top: 26px;
    width: 55%;
    /* margin-left: 30%; */
    display: flex;
    justify-content: space-around;
    /* text-align: left; */
    margin-left: 17%;
  }
  .col2-con {
    position: relative;
    top: 18%;
    margin-left: 7%;
    padding-right: 36%;
  }
  .sec-2-col2 {
    width: 100%;
  }

  .flex-typo {
    display: flex;
    flex-direction: column;
  }
  .typo-entry {
    width: 100%;
    padding-right: 42%;
  }

  .grafik-pics {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 5.5%;
    margin-top: 5%;
  }

  .grafik-1 {
    margin-left: 0;
  }

  .grafik-2 {
    height: 28vh;
    width: 100%;
    background-image: url(img/r.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .sec-7-txt {
    position: relative;
    margin-left: 5.5%;
    margin-right: 40%;
    top: 10%;
  }
  .typo-con {
    width: 50%;
    position: relative;
    top: 12vh;
    display: flex;
    margin-left: 0;
  }

  .overskrifter {
    margin-right: 13%;
  }
  .col2-con {
    position: relative;
    top: 18%;
    margin-left: 5.5%;
    padding-right: 36%;
  }

  .sec-2-col1 {
    width: 80%;
  }

  .sec-3-txt {
    margin-right: 0% !important;
    margin-left: 8%;
  }

  .logo-examples {
    position: relative;
    margin-left: 8%;
  }

  .ikon-examples {
    background-image: url(img/ikons.png);
    height: 300px;
    width: 315px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 10%;
    margin-left: 7%;
  }

  .section-2 {
    padding-bottom: 0;
  }
  .sec-2-txt {
    position: relative;
    padding-top: 15%;
    margin-left: 7%;
    margin-right: 0%;
  }
  .scroll-p {
    font-style: italic;
    padding-top: 17%;
  }

  .logo-ul {
    margin-right: 0%;
  }
}

@media only screen and (max-width: 800px) {
  .typo-entry {
    width: 100%;
    padding-right: 33%;
  }

  .secondary-colors {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 45%;
    padding-top: 15px;
    padding-bottom: 30px;
    grid-gap: 15px;
  }

  .typo-ex {
    width: 69%;
    top: 7vh;
    padding-right: 0;
    position: relative;
  }

  .li-pic {
    width: 100vw;
    min-height: 61vh;
    background-size: contain;
    background-image: url(img/examples.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 5%;
  }

  .section-3 {
    background-color: #f4f4f4;
    height: calc(100% - 75px);
    min-height: 50vh;
    width: 100vw;
    scroll-snap-align: start;
  }

  .sec-7-txt {
    position: relative;
    margin-left: 5.5%;
    margin-right: 26%;
    top: 10%;
    margin-bottom: 7%;
  }
}

@media only screen and (max-width: 660px) {
  .download-con {
    margin-top: 12%;
    margin-left: 10%;
  }

  nav {
    padding-top: 26px;
    width: 55%;
    /* margin-left: 30%; */
    display: flex;
    justify-content: space-around;
    /* text-align: left; */
    margin-left: 8%;
  }

  nav {
    padding-top: 26px;
    width: 55%;
    /* margin-left: 30%; */
    display: flex;
    justify-content: space-around;
    /* text-align: left; */
    margin-left: 5%;
  }
}

@media only screen and (max-width: 600px) {
  .download-con {
    margin-top: 12%;
    margin-left: 10%;
  }
  .sec-2-bottom {
    display: flex;
    flex-direction: column;
    top: 12%;
  }
  .download-a {
    display: flex;
    justify-content: space-between;
    width: 47%;
    padding: 8px;
    padding-left: 0;
  }

  .sec-2-txt {
    position: relative;
    padding-top: 15%;
    padding-bottom: 13%;
    margin-left: 7%;
    margin-right: 0%;
  }

  .col2-con {
    position: relative;
    margin-top: 16%;
    margin-left: 10.5%;
    padding-right: 17%;
  }

  .download-ikon {
    margin-top: 0;
    margin-left: 8%;
  }

  .ikon-examples {
    background-image: url(img/ikons.png);
    height: 222px;
    width: 315px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 10%;
    margin-left: 7%;
  }

  .ikon-col2-con {
    position: relative;
    margin-top: 15%;
    padding-left: 8%;
    padding-right: 10%;
  }

  .sec-5-txt {
    position: relative;
    margin-left: 7%;
    margin-right: 0%;
  }

  .sec-5-col1 {
    width: 100%;
    position: relative;
    padding-right: 11%;
  }

  .color-bottom {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    margin-left: 7%;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .typo-entry {
    width: 100%;
    padding-right: 16%;
  }

  .typo-ex {
    width: 88%;
    top: 7vh;
    padding-right: 0;
    position: relative;
  }
  .typo-con {
    width: 100%;
    position: relative;
    top: 12vh;
    display: flex;
    padding-right: 15%;
  }

  #section6 {
    padding-bottom: 40%;
  }

  .thepalet svg {
    width: 85%;
    position: relative;
    cursor: pointer;
  }

  .click-here {
    position: relative;
    top: 15%;
    left: 0;
    color: #c8423c;
  }

  .click-color {
    width: 100%;
  }

  .secondary-colors {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 45%;
    padding-top: 15px;
    padding-bottom: 30px;
    grid-gap: 15px;
  }
  #logo {
    height: 37px;
    width: 174px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 30px;
    margin-bottom: 10px;
    position: relative;
    margin-left: 5.5%;
    transition: 0.3s;
    background-image: url(img/responsive-black.svg);
  }

  .logo-examples {
    position: relative;
    margin-left: 6%;
  }

  .sec-2-bottom {
    width: 100vw;
  }

  .col2-con {
    position: relative;
    margin-top: 16%;
    margin-left: 5.5%;
    padding-right: 11%;
  }
}

@media only screen and (max-width: 550px) {
  .download-con {
    margin-top: 12%;
    margin-left: 10%;
  }

  nav {
    padding-top: 26px;
    width: 100%;
    /* margin-left: 30%; */
    display: flex;
    justify-content: space-around;
    /* text-align: left; */
    margin-left: 2%;
    margin-right: 2%;
  }

  .download-con {
    margin-top: 12%;
    margin-left: 7%;
  }

  #logo {
    display: none;
  }

  #logo {
    height: 37px;
    width: 124px;
  }

  .menupoint {
    position: relative;
    padding-right: 0;
    padding-left: 0;
    font-family: "Playfair Display", serif;
    max-height: 32px;
    font-size: 15px;
  }
}
